/* CSS file for Teamba Guild in Ragnarok Online Origins
This CSS file is mainly use for Teamba Guild Website and cannot be used in other website.
By: Rave Kuro
Css Ver. 1 */

/*site main column*/
/*body and html*/
html, body{
  margin:0;
}

/*testing*/
.testcolor{
  background-color:red;
  width:100%;
  height:1000px;
  padding:0px;
  border:20px solid;
}
